* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  transition: all 0.6s;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  border: 8px solid #1976d2;
}



